<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/">home</a>
    <a href="/contacts">contacts</a>
    <h3>This App was made by Stephen :)</h3>
  </body>
</html>
