
h1 {
  color: white;
  background-color: #38393a;
  padding: 10px;
  margin: 0;
  text-align: center;
  font-size: 35px;
}

ul {
  margin: 0;
  padding: 0;
}

nav li{
  display: block;
  text-align: center;
  background-color: #d6d9db;
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 1px;
  font-size: 30px;
}

nav a{
  text-decoration: none;
  color: white;
}

main{
  margin: 20px;
}

.contact{
  background-color: #5bccbb;
  margin-top: 10px;
  padding: 5px;
}

.contact h2{
  display: inline-block;
}

.contact a{
  display: inline-block;
}

.db-details {
  background-color: salmon;
  padding-top: 10px;
  padding-bottom: 10px;
}


footer {
  color: white;
  background-color: black;
  padding: 15px;
  text-align: center;
  margin-top: 10px;
}
